<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>searchContract</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>ricoh.workflow.eForm.servlet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessSearch</display-name>
    <servlet-name>ProcessSearch</servlet-name>
    <servlet-class>ricoh.workflow.eForm.servlet.ProcessSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessSearch</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessExport</display-name>
    <servlet-name>ProcessExport</servlet-name>
    <servlet-class>ricoh.workflow.eForm.servlet.ProcessExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessExport</servlet-name>
    <url-pattern>/Export</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessGenExportFile</display-name>
    <servlet-name>ProcessGenExportFile</servlet-name>
    <servlet-class>ricoh.workflow.eForm.servlet.ProcessGenExportFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessGenExportFile</servlet-name>
    <url-pattern>/GenExport</url-pattern>
  </servlet-mapping>
</web-app>